@import url("bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@font-face {
    font-family: 'AlternateGothicNo2BT-Regular';
    src: url("../fonts/myfonts/alternategothicno2bt-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/myfonts/alternategothicno2bt-regular.otf") format("opentype"), url("../fonts/myfonts/alternategothicno2bt-regular.woff") format("woff"), url("../fonts/myfonts/alternategothicno2bt-regular.ttf") format("truetype"), url("../fonts/myfonts/alternategothicno2bt-regular.svg#alternategothicno2bt-regular") format("svg");
    font-weight: normal;
    font-style: normal
}

body,
html {
    margin: 0;
    padding: 0
}

body {
    background: #fff;
    font-family: 'Conv_NIAGSOL', Sans-Serif;
    font-weight: normal;
    font-size: 14px;
    overflow-x: hidden;
    -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
    -webkit-font-smoothing: antialiased!important
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    font-weight: normal
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Conv_Bariol_Regular';
    font-weight: normal
}

a,
a:active,
a:focus,
a:hover {
    text-decoration: none;
    outline: none
}

a {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out
}

input,
select,
textarea {
    font-weight: normal
}

* {
    outline: none
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px
}

select::-ms-expand {
    display: none
}

::-moz-selection {
    background: #d85043;
    color: #fff
}

::selection {
    background: #d85043;
    color: #fff
}

input,
select,
textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none
}

.clearfix {
    clear: both
}

img {
    max-width: 100%;
    height: auto
}

figure {
    margin: 0
}

@font-face {
    font-family: 'AlternateGothicNo2BT-Regular';
    src: url("../fonts/myfonts/alternategothicno2bt-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/myfonts/alternategothicno2bt-regular.otf") format("opentype"), url("../fonts/myfonts/alternategothicno2bt-regular.woff") format("woff"), url("../fonts/myfonts/alternategothicno2bt-regular.ttf") format("truetype"), url("../fonts/myfonts/alternategothicno2bt-regular.svg#alternategothicno2bt-regular") format("svg");
    font-weight: normal;
    font-style: normal
}

body {
    background: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400
}

body,
html {
    margin: 0;
    padding: 0!important
}

.modal-open .modal {
    overflow: hidden!important
}

.modal-open {
    overflow: scroll!important
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400
}

@media screen and (min-width:1500px) {
    .container {
        max-width: 1470px
    }
}

#header-sroll {
    position: fixed;
    height: 150px;
    padding: 0;
    background: #fff;
    z-index: 99;
    left: 0;
    top: 0;
    float: left;
    width: 100%;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out
}

@media only screen and (max-width:1469px) {
    #header-sroll {
        height: 135px
    }
}

#header-sroll .logo img {
    width: 100%;
    font-family: Arial;
    text-align: center;
    line-height: 50px;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out
}

#header-sroll.small {
    width: 100%;
    padding: 5px 0 10px !important!important;
    height: auto;
    background: rgba(255, 255, 255, 0.91)
}

#header-sroll.small .logo img {
    width: 140px
}

#header-sroll.small .header_top {
    display: none
}

#header-sroll.small .header_nav {
    padding: 10px 0
}

header .header_top {
    border-bottom: 1px solid #d5d7d6;
    padding: 10px 0
}

@media only screen and (max-width:1469px) {
    header .header_top {
        padding: 5px 0
    }
}

header .header_top .header_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center
}

header .header_top .header_row p {
    color: #555555;
    font-size: 13px;
    font-family: 'Poppins', sans-serif
}

header .header_top .header_row p a {
    color: #555555;
    font-size: 13px
}

header .header_top .header_row p a:focus,
header .header_top .header_row p a:hover {
    color: #ff8686
}

header .header_top .header_row .cart ul {
    padding: 0;
    list-style: none;
    margin: 0
}

header .header_top .header_row .cart ul li {
    display: inline-block;
    vertical-align: middle
}

header .header_top .header_row .cart ul li:last-child {
    margin-left: 15px
}

header .header_top .header_row .cart ul li svg {
    width: 16px;
    height: 16px;
    fill: #000
}

@media only screen and (max-width:1469px) {
    header .header_top .header_row .cart ul li svg {
        width: 14px;
        height: 14px
    }
}

header .header_top .header_row .cart ul li a {
    color: #000;
    font-size: 15px;
    font-family: 'Poppins', sans-serif
}

@media only screen and (max-width:1469px) {
    header .header_top .header_row .cart ul li a {
        font-size: 13px
    }
}

header .header_top .header_row .cart ul li a:focus,
header .header_top .header_row .cart ul li a:hover {
    color: #ff8686
}

header .header_top .header_row .cart ul li .form-group {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle
}

header .header_top .header_row .cart ul li .form-group .form-control {
    background: #fff url("../images/dropdown.png") no-repeat 100% 50%;
    padding: 0 15px 0 0;
    border: none;
    cursor: pointer;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    color: #000;
    font-size: 15px;
    font-family: 'Poppins', sans-serif
}

@media only screen and (max-width:1469px) {
    header .header_top .header_row .cart ul li .form-group .form-control {
        font-size: 13px
    }
}

header .header_nav {
    padding: 0;
    margin: 15px 0
}

@media only screen and (max-width:1469px) {
    header .header_nav {
        margin: 10px 0
    }
}

header .header_nav nav.navbar {
    padding: 0;
    margin: 0
}

header .header_nav nav.navbar .collapse {
    margin-top: 8px
}

@media only screen and (max-width:1469px) {
    header .header_nav nav.navbar .collapse {
        margin-top: 10px
    }
}

header .header_nav nav.navbar .collapse ul.navbar-nav {
    padding: 0;
    margin: 0;
    list-style: none
}

header .header_nav nav.navbar .collapse ul.navbar-nav li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 25px
}

@media only screen and (max-width:1469px) {
    header .header_nav nav.navbar .collapse ul.navbar-nav li {
        padding: 0 15px
    }
}

header .header_nav nav.navbar .collapse ul.navbar-nav li a {
    font-size: 14px;
    color: #1a1a1a;
    font-family: 'Poppins', sans-serif;
    position: relative
}

header .header_nav nav.navbar .collapse ul.navbar-nav li a:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 2px;
    background: #ff8686;
    -webkit-transform: scaleX(0);
    -o-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    display: block;
    -webkit-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: -webkit-transform 0.2s ease-out;
    -o-transition: -o-transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out, -o-transform 0.2s ease-out;
    will-change: transform
}

header .header_nav nav.navbar .collapse ul.navbar-nav li a:focus,
header .header_nav nav.navbar .collapse ul.navbar-nav li a:hover {
    color: #ff8686
}

header .header_nav nav.navbar .collapse ul.navbar-nav li a:focus:after,
header .header_nav nav.navbar .collapse ul.navbar-nav li a:hover:after {
    -webkit-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1)
}

header .header_nav nav.navbar .collapse ul.navbar-nav li.current-menu-item a {
    color: #ff8686
}

header .header_nav nav.navbar .collapse ul.navbar-nav li.current-menu-item a:after {
    -webkit-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1)
}

header .header_nav nav.navbar .collapse .login_btn {
    background: #ff8686;
    border: 1px solid #ff8686;
    width: 95px;
    height: 32px;
    outline: 0;
    cursor: pointer;
    border-radius: 25px;
    font-size: 14px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    -ms-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s
}

@media only screen and (max-width:1469px) {
    header .header_nav nav.navbar .collapse .login_btn {
        height: 30px;
        margin-left: 15px
    }
}

header .header_nav nav.navbar .collapse .login_btn svg {
    width: 16px;
    height: 16px;
    fill: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    -ms-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s
}

header .header_nav nav.navbar .collapse .login_btn:focus,
header .header_nav nav.navbar .collapse .login_btn:hover {
    background: #fff;
    border: 1px solid #ff8686;
    color: #ff8686
}

header .header_nav nav.navbar .collapse .login_btn:focus svg,
header .header_nav nav.navbar .collapse .login_btn:hover svg {
    fill: #ff8686
}

section.banner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 785px;
    position: relative;
    margin-top: 8%
}

@media only screen and (max-width:1469px) {
    section.banner {
        margin-top: 10%;
        height: 575px
    }
}

section.banner .banner_content {
    width: 550px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

@media only screen and (max-width:1469px) {
    section.banner .banner_content {
        width: 460px
    }
}

section.banner .banner_content h2 {
    color: #1a1a1a;
    font-size: 60px;
    line-height: 1.8;
    font-family: 'AlternateGothicNo2BT-Regular'
}

@media only screen and (max-width:1469px) {
    section.banner .banner_content h2 {
        font-size: 48px
    }
}

section.banner .banner_content p {
    color: #020202;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px
}

@media only screen and (max-width:1469px) {
    section.banner .banner_content p {
        font-size: 16px;
        margin-bottom: 20px
    }
}

section.banner .banner_content a {
    color: #fff;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    background: #ff8686;
    border: 4px solid #ff8686;
    border-radius: 25px;
    line-height: 2;
    padding: 0 25px;
    display: inline-block
}

@media only screen and (max-width:1469px) {
    section.banner .banner_content a {
        font-size: 18px
    }
}

section.banner .banner_content a:focus,
section.banner .banner_content a:hover {
    background: rgba(255, 134, 134, 0.15);
    border: 4px solid rgba(255, 134, 134, 0.51);
    color: #ff8686
}

section.arrived_life {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px
}

@media only screen and (max-width:1469px) {
    section.arrived_life {
        height: 525px
    }
}

section.arrived_life .arrived_life_content {
    width: 980px;
    text-align: center;
    margin: 0 auto;
    padding-top: 4%
}

@media only screen and (max-width:1469px) {
    section.arrived_life .arrived_life_content {
        padding-top: 3%;
        width: 780px
    }
}

section.arrived_life .arrived_life_content h3 {
    color: #000;
    font-size: 29px;
    line-height: 1.8;
    font-family: 'Poppins', sans-serif;
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 4px
}

@media only screen and (max-width:1469px) {
    section.arrived_life .arrived_life_content h3 {
        font-size: 24px;
        line-height: 1.4;
        margin-bottom: 20px
    }
}

section.arrived_life .arrived_life_content h3:after {
    position: absolute;
    content: '';
    width: 70px;
    height: 2px;
    background: #ff8686;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

section.arrived_life .arrived_life_content p {
    color: #000;
    font-size: 15px;
    line-height: 1.8;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 22px
}

@media only screen and (max-width:1469px) {
    section.arrived_life .arrived_life_content p {
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 15px
    }
}

section.arrived_life .arrived_life_content a {
    color: #000;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid #000;
    border-radius: 0;
    line-height: 1.2
}

section.arrived_life .arrived_life_content a:focus,
section.arrived_life .arrived_life_content a:hover {
    border-bottom-color: rgba(255, 134, 134, 0.51);
    color: #ff8686
}

section.gallery {
    padding: 80px 0
}

@media only screen and (max-width:1469px) {
    section.gallery {
        padding: 50px 0
    }
}

section.gallery .main_heading {
    text-align: center;
    padding-bottom: 60px
}

@media only screen and (max-width:1469px) {
    section.gallery .main_heading {
        padding-bottom: 70px
    }
}

section.gallery .main_heading h3 {
    color: #000;
    font-size: 29px;
    line-height: 1.8;
    font-family: 'Poppins', sans-serif;
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 4px
}

@media only screen and (max-width:1469px) {
    section.gallery .main_heading h3 {
        font-size: 26px;
        margin-bottom: 20px;
        line-height: 1.4
    }
}

section.gallery .main_heading h3:after {
    position: absolute;
    content: '';
    width: 70px;
    height: 2px;
    background: #ff8686;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

section.gallery .main_heading p {
    color: #000;
    font-size: 15px;
    line-height: 1.8;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 22px
}

@media only screen and (max-width:1469px) {
    section.gallery .main_heading p {
        font-size: 14px;
        margin-bottom: 0;
        line-height: 1.6
    }
}

section.gallery .img_wrapper {
    background: #fff;
    -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.12);
    padding: 50px 90px;
    margin-bottom: 40px
}

@media only screen and (max-width:1469px) {
    section.gallery .img_wrapper {
        padding: 40px 65px;
        margin-bottom: 30px
    }
}

section.gallery .img_wrapper .fram {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    padding: 20px
}

@media only screen and (max-width:1469px) {
    section.gallery .img_wrapper .fram {
        height: 562px
    }
}

section.gallery .img_wrapper .fram figure {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative
}

section.gallery .img_wrapper .fram figure .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    width: 100%;
    height: 0;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease
}

section.gallery .img_wrapper .fram figure .overlay .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center
}

section.gallery .img_wrapper .fram figure .overlay .text h4 {
    font-size: 22px;
    color: #282828;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin-bottom: 30px;
    padding-bottom: 12px;
    position: relative
}

section.gallery .img_wrapper .fram figure .overlay .text h4:after {
    position: absolute;
    content: '';
    width: 70px;
    height: 2px;
    background: #ff8686;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

section.gallery .img_wrapper .fram figure .overlay .text a {
    color: #fff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #ff8686;
    border: 4px solid #ff8686;
    border-radius: 25px;
    line-height: 2;
    padding: 0 25px;
    display: inline-block
}

section.gallery .img_wrapper .fram figure .overlay .text a:focus,
section.gallery .img_wrapper .fram figure .overlay .text a:hover {
    background: rgba(255, 134, 134, 0.15);
    border: 4px solid rgba(255, 134, 134, 0.51);
    color: #ff8686
}

section.gallery .img_wrapper .fram:hover .overlay {
    bottom: 0;
    height: 100%
}

section.gallery .img_wrapper .fram.vertical {
    height: 380px
}

@media only screen and (max-width:1469px) {
    section.gallery .img_wrapper .fram.vertical {
        height: 302px
    }
}

section.about_us {
    padding: 20px 0
}

section.about_us .about_head {
    margin: 0;
    padding: 0
}

section.about_us .about_head .about_left {
    width: 33%;
    display: inline-block;
    vertical-align: top
}

section.about_us .about_head .about_left figure {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 352px
}

@media only screen and (max-width:1469px) {
    section.about_us .about_head .about_left figure {
        height: 280px
    }
}

section.about_us .about_head .about_middle {
    width: 33%;
    padding: 0 40px;
    display: inline-block;
    vertical-align: top;
    text-align: center
}

@media only screen and (max-width:1469px) {
    section.about_us .about_head .about_middle {
        padding: 0 20px
    }
}

section.about_us .about_head .about_middle h3 {
    font-size: 29px;
    color: #282828;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin-top: 12px;
    margin-bottom: 30px;
    padding-bottom: 12px;
    position: relative
}

@media only screen and (max-width:1469px) {
    section.about_us .about_head .about_middle h3 {
        font-size: 24px;
        line-height: 1.4;
        margin-top: 5px;
        margin-bottom: 15px;
        padding-bottom: 5px
    }
}

section.about_us .about_head .about_middle h3:after {
    position: absolute;
    content: '';
    width: 70px;
    height: 2px;
    background: #ff8686;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

section.about_us .about_head .about_middle p {
    font-size: 15px;
    color: #000;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    margin-bottom: 50px
}

@media only screen and (max-width:1469px) {
    section.about_us .about_head .about_middle p {
        font-size: 14px;
        margin-bottom: 40px
    }
}

section.about_us .about_head .about_middle p:last-of-type {
    margin-bottom: 0
}

section.about_us .about_head .about_right {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    text-align: center
}

section.about_us .about_head .about_right figure {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 352px
}

section.gift_gallery {
    padding: 35px 0 100px;
    margin: 70px 0 30px;
    background: #f9f9f9
}

@media only screen and (max-width:1469px) {
    section.gift_gallery {
        padding: 45px 0 70px;
        margin: 40px 0
    }
}

section.gift_gallery h3 {
    font-size: 29px;
    padding: 25px 0;
    color: #282828;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin-top: 12px;
    margin-bottom: 50px;
    padding-bottom: 12px;
    text-align: center;
    position: relative
}

@media only screen and (max-width:1469px) {
    section.gift_gallery h3 {
        font-size: 24px;
        padding: 0 0 5px;
        margin-bottom: 35px
    }
}

section.gift_gallery h3:after {
    position: absolute;
    content: '';
    width: 70px;
    height: 2px;
    background: #ff8686;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

section.gift_gallery .gallery_cover {
    padding: 0;
    margin: 0
}

section.gift_gallery .gallery_cover .gift_card {
    width: 49%;
    display: inline-block;
    vertical-align: top
}

section.gift_gallery .gallery_cover .gift_card .card_head {
    height: 385px;
    width: 100%;
    margin: 5px
}

@media only screen and (max-width:1469px) {
    section.gift_gallery .gallery_cover .gift_card .card_head {
        height: 280px
    }
}

section.gift_gallery .gallery_cover .gift_card .card_head:nth-child(2) {
    height: 350px
}

@media only screen and (max-width:1469px) {
    section.gift_gallery .gallery_cover .gift_card .card_head:nth-child(2) {
        height: 265px
    }
}

section.gift_gallery .gallery_cover .gift_card .card_head:nth-child(3) {
    height: 255px
}

@media only screen and (max-width:1469px) {
    section.gift_gallery .gallery_cover .gift_card .card_head:nth-child(3) {
        height: 185px
    }
}

section.gift_gallery .gallery_cover .gift_card .card_head figure {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative
}

section.gift_gallery .gallery_cover .gift_card .card_head figure .overlay {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.75);
    overflow: hidden;
    width: 100%;
    height: 0;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease
}

section.gift_gallery .gallery_cover .gift_card .card_head figure .overlay .text {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    padding: 0 6%
}

section.gift_gallery .gallery_cover .gift_card .card_head figure .overlay .text p {
    font-size: 18px;
    line-height: 1.6;
    color: #282828;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px
}

@media only screen and (max-width:1469px) {
    section.gift_gallery .gallery_cover .gift_card .card_head figure .overlay .text p {
        font-size: 14px;
        margin-bottom: 10px
    }
}

section.gift_gallery .gallery_cover .gift_card .card_head figure .overlay .text p:last-of-type {
    border-bottom: 0
}

section.gift_gallery .gallery_cover .gift_card .card_head figure .overlay .text a {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #ff8686;
    border: 4px solid #ff8686;
    border-radius: 30px;
    line-height: 2.4;
    padding: 0 25px;
    display: inline-block
}

@media only screen and (max-width:1469px) {
    section.gift_gallery .gallery_cover .gift_card .card_head figure .overlay .text a {
        font-size: 16px
    }
}

section.gift_gallery .gallery_cover .gift_card .card_head figure .overlay .text a:focus,
section.gift_gallery .gallery_cover .gift_card .card_head figure .overlay .text a:hover {
    background: rgba(255, 134, 134, 0.15);
    border: 4px solid rgba(255, 134, 134, 0.51);
    color: #ff8686
}

section.gift_gallery .gallery_cover .gift_card .card_head figure:hover .overlay {
    height: 100%;
    opacity: 1
}

section.gift_gallery .gallery_cover .gift_card.second {
    width: 50%;
    display: inline-block;
    vertical-align: top
}

section.gift_gallery .gallery_cover .gift_card.second .card_head {
    height: 495px
}

@media only screen and (max-width:1469px) {
    section.gift_gallery .gallery_cover .gift_card.second .card_head {
        height: 360px
    }
}

section.gift_gallery .gallery_cover .gift_card.second .card_head .card_right {
    width: 49.7%;
    display: inline-block;
    vertical-align: top;
    height: 500px
}

@media only screen and (max-width:1469px) {
    section.gift_gallery .gallery_cover .gift_card.second .card_head .card_right {
        height: 375px;
        width: 49.6%
    }
}

section.gift_gallery .gallery_cover .gift_card.second .card_head .card_right .card_full {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    height: 245px;
    margin-bottom: 8px
}

@media only screen and (max-width:1469px) {
    section.gift_gallery .gallery_cover .gift_card.second .card_head .card_right .card_full {
        height: 183px
    }
}

section.gift_gallery .gallery_cover .gift_card.second .card_head .card_right .card_full:last-of-type {
    margin-bottom: 0
}

footer .footer_logo {
    text-align: center;
    padding: 5px 0 45px
}

footer .footer_logo a {
    display: inline-block;
    width: 150px
}

footer .footer_address {
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    padding: 20px 0
}

@media only screen and (max-width:1469px) {
    footer .footer_address {
        padding: 15px 0
    }
}

footer .footer_address ul {
    padding: 0;
    list-style: none;
    margin: 0;
    text-align: center
}

footer .footer_address ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 45px;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    font-family: 'Poppins', sans-serif
}

@media only screen and (max-width:1469px) {
    footer .footer_address ul li {
        font-size: 14px;
        padding: 0 20px
    }
}

footer .footer_address ul li i {
    font-size: 20px;
    color: #999999;
    padding: 0 10px
}

@media only screen and (max-width:1469px) {
    footer .footer_address ul li i {
        font-size: 20px;
        padding: 0 5px
    }
}

footer .footer_address ul li a {
    color: #000;
    font-weight: 400;
    font-family: 'Poppins', sans-serif
}

footer .footer_address ul li a:focus,
footer .footer_address ul li a:hover {
    color: #ff8686
}

footer .footer_nav {
    border-bottom: 1px solid #dadada;
    padding: 20px 0
}

@media only screen and (max-width:1469px) {
    footer .footer_nav {
        padding: 15px 0
    }
}

footer .footer_nav .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

footer .footer_nav .container ul {
    padding: 0;
    list-style: none;
    margin: 0 auto;
    text-align: center;
    margin-right: -128px
}

footer .footer_nav .container ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
    font-size: 16px;
    color: #999999;
    font-weight: 400;
    font-family: 'Poppins', sans-serif
}

@media only screen and (max-width:1469px) {
    footer .footer_nav .container ul li {
        font-size: 14px;
        padding: 0 10px
    }
}

footer .footer_nav .container ul li a {
    color: #000;
    font-weight: 400;
    font-family: 'Poppins', sans-serif
}

footer .footer_nav .container ul li a:focus,
footer .footer_nav .container ul li a:hover {
    color: #ff8686
}

footer .footer_nav .container .social_icon {
    margin-left: auto
}

footer .footer_nav .container .social_icon ul {
    margin-right: 0
}

footer .footer_nav .container .social_icon ul li {
    padding: 0 5px
}

footer .footer_nav .container .social_icon ul li a {
    width: 30px;
    height: 30px;
    background: #999999;
    border-radius: 5px;
    color: #fff;
    display: block;
    line-height: 30px
}

footer .footer_nav .container .social_icon ul li a:focus,
footer .footer_nav .container .social_icon ul li a:hover {
    background: #ff8686
}

footer .footer_bottom {
    background: #333333;
    padding: 20px 0;
    margin-top: 25px
}

footer .footer_bottom p {
    color: #afafaf;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-align: right
}

footer .footer_bottom span {
    color: #afafaf;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-align: right;
    display: block
}

footer .footer_bottom span a {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif
}

footer .footer_bottom span a:focus,
footer .footer_bottom span a:hover {
    color: #ff8686
}

.inner-banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 315px;
    margin-top: 8%;
    position: relative
}

@media only screen and (max-width:1469px) {
    .inner-banner {
        height: 220px;
        margin-top: 10%
    }
}

.inner-banner:after {
    content: '';
    background: rgba(0, 0, 0, 0.65);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute
}

.inner-banner .inner_heading {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2
}

.inner-banner .inner_heading h2 {
    color: #fff;
    font-size: 42px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 400
}

@media only screen and (max-width:1469px) {
    .inner-banner .inner_heading h2 {
        font-size: 32px
    }
}

section.life_print {
    padding: 70px 0
}

@media only screen and (max-width:1469px) {
    section.life_print {
        padding: 50px 0
    }
}

section.life_print .about_print h3 {
    color: #000;
    font-size: 29px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 30px
}

@media only screen and (max-width:1469px) {
    section.life_print .about_print h3 {
        font-size: 22px;
        margin-bottom: 15px
    }
}

section.life_print .about_print h3:after {
    content: '';
    width: 70px;
    height: 2px;
    margin: 6px 0 0;
    background: #ff8686;
    display: block
}

@media only screen and (max-width:1469px) {
    section.life_print .about_print h3:after {
        width: 50px
    }
}

section.life_print .about_print p {
    color: #000;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 30px
}

section.life_print .about_print p:last-of-type {
    margin-bottom: 0
}

@media only screen and (max-width:1469px) {
    section.life_print .about_print p {
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 15px
    }
}

section.life_print .figure_img figure {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 440px
}

@media only screen and (max-width:1469px) {
    section.life_print .figure_img figure {
        height: 340px
    }
}

section.testimonial {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 435px;
    position: relative;
    margin-bottom: 40px
}

@media only screen and (max-width:1469px) {
    section.testimonial {
        height: 310px;
        margin-bottom: 30px
    }
}

section.testimonial:after {
    content: '';
    background: rgba(35, 28, 28, 0.71);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute
}

section.testimonial .team_testimonial {
    padding-top: 6%
}

@media only screen and (max-width:1469px) {
    section.testimonial .team_testimonial {
        padding-top: 4%
    }
}

section.testimonial .team_testimonial .owl-carousel.testi {
    text-align: center
}

section.testimonial .team_testimonial .owl-carousel.testi .item {
    padding: 0 15%
}

@media only screen and (max-width:1469px) {
    section.testimonial .team_testimonial .owl-carousel.testi .item {
        padding: 0 5%
    }
}

section.testimonial .team_testimonial .owl-carousel.testi .item h3 {
    color: #fff;
    font-size: 29px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 45px;
    position: relative
}

@media only screen and (max-width:1469px) {
    section.testimonial .team_testimonial .owl-carousel.testi .item h3 {
        font-size: 24px;
        margin-bottom: 25px
    }
}

section.testimonial .team_testimonial .owl-carousel.testi .item h3:after {
    position: absolute;
    content: '';
    width: 63px;
    height: 2px;
    background: #ff8686;
    bottom: -8px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

@media only screen and (max-width:1469px) {
    section.testimonial .team_testimonial .owl-carousel.testi .item h3:after {
        width: 50px
    }
}

section.testimonial .team_testimonial .owl-carousel.testi .item p {
    color: #fff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.8;
    padding: 18px 0 25px
}

@media only screen and (max-width:1469px) {
    section.testimonial .team_testimonial .owl-carousel.testi .item p {
        font-size: 14px;
        padding: 15px 0 20px
    }
}

section.testimonial .team_testimonial .owl-carousel.testi .item h4 {
    color: #fff;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 10px
}

@media only screen and (max-width:1469px) {
    section.testimonial .team_testimonial .owl-carousel.testi .item h4 {
        font-size: 15px;
        margin-bottom: 5px
    }
}

section.testimonial .team_testimonial .owl-carousel.testi .item strong {
    color: #fff;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400
}

@media only screen and (max-width:1469px) {
    section.testimonial .team_testimonial .owl-carousel.testi .item strong {
        font-size: 14px
    }
}

section.testimonial .team_testimonial .owl-nav {
    display: none
}

section.testimonial .team_testimonial .owl-dots {
    text-align: center;
    margin-top: 25px
}

@media only screen and (max-width:1469px) {
    section.testimonial .team_testimonial .owl-dots {
        margin-top: 15px
    }
}

section.testimonial .team_testimonial .owl-dots .owl-dot {
    width: 9px;
    height: 9px;
    background: #fff;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 4px;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}

section.testimonial .team_testimonial .owl-dots .owl-dot:hover {
    background-color: #ff8686
}

section.testimonial .team_testimonial .owl-dots .owl-dot.active {
    background: #ff8686
}

section.life_poster {
    padding: 70px 0
}

@media only screen and (max-width:1469px) {
    section.life_poster {
        padding: 50px 0
    }
}

section.life_poster .create_head {
    text-align: center;
    margin-bottom: 75px
}

@media only screen and (max-width:1469px) {
    section.life_poster .create_head {
        margin-bottom: 50px 0 70px
    }
}

section.life_poster .create_head h2 {
    color: #000;
    font-size: 29px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
    position: relative
}

@media only screen and (max-width:1469px) {
    section.life_poster .create_head h2 {
        font-size: 22px;
        margin-bottom: 20px
    }
}

section.life_poster .create_head h2:after {
    position: absolute;
    content: '';
    width: 70px;
    height: 2px;
    background: #ff8686;
    bottom: -7px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

@media only screen and (max-width:1469px) {
    section.life_poster .create_head h2:after {
        width: 50px
    }
}

section.life_poster .birth_data {
    width: 100%
}

section.life_poster .birth_data ul.nav.nav-tabs {
    padding: 0;
    margin: 0 0 30px;
    border: none
}

section.life_poster .birth_data ul.nav.nav-tabs li {
    padding: 0;
    border: none
}

section.life_poster .birth_data ul.nav.nav-tabs li a {
    font-size: 20px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    background: #f3f1f1;
    padding: 15px 39px;
    line-height: 1.8;
    border-radius: 0;
    border: none
}

@media only screen and (max-width:1469px) {
    section.life_poster .birth_data ul.nav.nav-tabs li a {
        font-size: 15px;
        line-height: 1.6;
        padding: 10px 30px
    }
}

section.life_poster .birth_data ul.nav.nav-tabs li a svg {
    width: 30px;
    height: 30px;
    fill: #000;
    vertical-align: middle;
    display: inline-block;
    margin-right: 8px;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}

@media only screen and (max-width:1469px) {
    section.life_poster .birth_data ul.nav.nav-tabs li a svg {
        width: 20px;
        height: 20px
    }
}

section.life_poster .birth_data ul.nav.nav-tabs li a:focus,
section.life_poster .birth_data ul.nav.nav-tabs li a:hover {
    background-color: #ff8686;
    color: #fff
}

section.life_poster .birth_data ul.nav.nav-tabs li a:focus svg,
section.life_poster .birth_data ul.nav.nav-tabs li a:hover svg {
    fill: #fff
}

section.life_poster .birth_data ul.nav.nav-tabs li a.active {
    background-color: #ff8686;
    color: #fff
}

section.life_poster .birth_data ul.nav.nav-tabs li a.active svg {
    fill: #fff
}

section.life_poster .birth_data .tab-content.design .form-group {
    margin-bottom: 25px
}

section.life_poster .birth_data .tab-content.design .form-group label {
    color: #000;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 0.6rem;
    display: block
}

@media only screen and (max-width:1469px) {
    section.life_poster .birth_data .tab-content.design .form-group label {
        font-size: 14px;
        margin-bottom: 0.4rem
    }
}

section.life_poster .birth_data .tab-content.design .form-group select.form-control {
    background: transparent url("../images/dropdown.png") no-repeat 95% 50%;
    width: 100%;
    height: 42px;
    border: 1px solid #dedede;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.8;
    color: #979797;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0
}

@media only screen and (max-width:1469px) {
    section.life_poster .birth_data .tab-content.design .form-group select.form-control {
        height: 36px;
        font-size: 14px;
        background-size: 9px;
        padding: 0 10px
    }
}

section.life_poster .birth_data .tab-content.design .form-group input.form-control {
    width: 100%;
    height: 42px;
    border: 1px solid #dedede;
    border-radius: 4px;
    font-size: 16px;
    color: #979797;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    padding: 0 10px
}

@media only screen and (max-width:1469px) {
    section.life_poster .birth_data .tab-content.design .form-group input.form-control {
        height: 36px;
        font-size: 14px;
        padding: 0 10px
    }
}

section.life_poster .birth_data .tab-content.design .form-group button {
    background-color: #ff8686;
    border: 1px solid #ff8686;
    color: #fff;
    border-radius: 5px;
    line-height: 2.6;
    padding: 0 35px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}

@media only screen and (max-width:1469px) {
    section.life_poster .birth_data .tab-content.design .form-group button {
        line-height: 2.4;
        padding: 0 22px;
        font-size: 14px
    }
}

section.life_poster .birth_data .tab-content.design .form-group button:last-of-type {
    float: right
}

section.life_poster .birth_data .tab-content.design .form-group button:focus,
section.life_poster .birth_data .tab-content.design .form-group button:hover {
    background: #fff;
    border: 1px solid #ff8686;
    color: #000
}

section.life_poster .birth_data .tab-content.design .form-group .weight {
    display: inline-block;
    vertical-align: middle
}

section.life_poster .birth_data .tab-content.design .form-group .weight input.form-control {
    width: 77px;
    height: 42px;
    border: 1px solid #dedede;
    border-radius: 4px;
    font-size: 16px;
    color: #979797;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    padding: 0 5px;
    display: inline-block;
    vertical-align: middle
}

@media only screen and (max-width:1469px) {
    section.life_poster .birth_data .tab-content.design .form-group .weight input.form-control {
        height: 36px;
        font-size: 14px;
        padding: 0 10px
    }
}

section.life_poster .birth_data .tab-content.design .form-group .weight span {
    font-size: 16px;
    color: #979797;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0 22px 0 12px
}

section.life_poster .birth_data .tab-content.design .form-group .month {
    width: 120px;
    display: inline-block;
    vertical-align: middle
}

@media only screen and (max-width:1469px) {
    section.life_poster .birth_data .tab-content.design .form-group .month {
        width: 85px
    }
}

section.life_poster .birth_data .tab-content.design .form-group .month select.form-control {
    background: #fff url("../images/dropdown.png") no-repeat 90% 50%
}

@media only screen and (max-width:1469px) {
    section.life_poster .birth_data .tab-content.design .form-group .month select.form-control {
        height: 36px;
        font-size: 14px;
        background-size: 8px;
        padding: 0 10px
    }
}

section.life_poster .birth_data .tab-content.design .form-group .month input.form-control {
    width: 120px;
    height: 42px;
    border: 1px solid #dedede;
    border-radius: 4px;
    font-size: 16px;
    color: #979797;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    padding: 0 5px;
    text-align: center
}

@media only screen and (max-width:1469px) {
    section.life_poster .birth_data .tab-content.design .form-group .month input.form-control {
        width: 90px;
        height: 36px;
        font-size: 14px
    }
}

section.life_poster .birth_data .tab-content.design .form-group .day {
    width: 80px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 24px
}

@media only screen and (max-width:1469px) {
    section.life_poster .birth_data .tab-content.design .form-group .day {
        width: 45px;
        margin: 0 8px
    }
}

section.life_poster .birth_data .tab-content.design .form-group .day select.form-control {
    background: #fff url("../images/dropdown.png") no-repeat 90% 50%
}

@media only screen and (max-width:1469px) {
    section.life_poster .birth_data .tab-content.design .form-group .day select.form-control {
        font-size: 14px;
        background-size: 8px;
        padding: 0 10px
    }
}

section.life_poster .birth_data .tab-content.design .form-group .day input.form-control {
    width: 77px;
    height: 42px;
    border: 1px solid #dedede;
    border-radius: 4px;
    font-size: 16px;
    color: #979797;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    padding: 0 5px;
    text-align: center
}

@media only screen and (max-width:1469px) {
    section.life_poster .birth_data .tab-content.design .form-group .day input.form-control {
        width: 50px;
        height: 36px;
        font-size: 14px
    }
}

section.life_poster .birth_data .tab-content.design .form-group .year {
    width: 80px;
    display: inline-block;
    vertical-align: middle
}

@media only screen and (max-width:1469px) {
    section.life_poster .birth_data .tab-content.design .form-group .year {
        width: 62px
    }
}

section.life_poster .birth_data .tab-content.design .form-group .year select.form-control {
    background: #fff url("../images/dropdown.png") no-repeat 90% 50%
}

@media only screen and (max-width:1469px) {
    section.life_poster .birth_data .tab-content.design .form-group .year select.form-control {
        font-size: 14px;
        background-size: 8px;
        padding: 0 10px
    }
}

section.life_poster .birth_data .tab-content.design .form-group strong {
    font-size: 20px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 50px 0 40px;
    display: block
}

@media only screen and (max-width:1469px) {
    section.life_poster .birth_data .tab-content.design .form-group strong {
        font-size: 14px;
        margin: 15px 0 35px
    }
}

section.life_poster .birth_data .tab-content.design .form-group .blood label {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0
}

section.life_poster .birth_data .tab-content.design .form-group .blood input.form-control {
    width: 167px;
    height: 42px;
    border: 1px solid #dedede;
    border-radius: 4px;
    font-size: 16px;
    color: #979797;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    padding: 0 5px;
    text-align: center;
    display: inline-block;
    vertical-align: middle
}

@media only screen and (max-width:1469px) {
    section.life_poster .birth_data .tab-content.design .form-group .blood input.form-control {
        font-size: 14px;
        height: 36px
    }
}

section.life_poster .birth_data .tab-content.design .form-group .submit_btn {
    float: left;
    margin-top: 15px
}

section.life_poster .birth_data .tab-content.design .form-group .submit_btn button {
    background-color: #ff8686;
    border: 4px solid #ff8686;
    color: #fff;
    border-radius: 30px;
    line-height: 2.6;
    letter-spacing: 0.5px;
    padding: 0 35px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    outline: 0;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}

@media only screen and (max-width:1469px) {
    section.life_poster .birth_data .tab-content.design .form-group .submit_btn button {
        font-size: 14px;
        padding: 0 28px;
        line-height: 2.3
    }
}

section.life_poster .birth_data .tab-content.design .form-group .submit_btn button:focus,
section.life_poster .birth_data .tab-content.design .form-group .submit_btn button:hover {
    background: rgba(255, 134, 134, 0.25);
    border: 4px solid #ff8686;
    color: #ff8686
}

section.life_poster .birth_data .tab-content.design .form-group ul {
    list-style: none;
    padding: 0;
    margin: 0
}

section.life_poster .birth_data .tab-content.design .form-group ul li {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px
}

section.life_poster .birth_data .tab-content.design .form-group ul li a:focus,
section.life_poster .birth_data .tab-content.design .form-group ul li a:hover {
    border: 1px solid #ff8686!important
}

section.life_poster .birth_data .tab-content.design .form-group .month.hours {
    width: 50px;
    display: inline-block;
    vertical-align: middle
}

section.life_poster .birth_data .tab-content.design .form-group .month.hours input.form-control {
    width: 50px
}

section.life_poster .birth_data .tab-content.design .form-group .colon {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-left: 7px
}

section.life_poster .birth_data .tab-content.design .form-group.desing-btn {
    margin-right: 12px
}

section.life_poster .birth_data .tab-content.design .form-group.desing-btn button {
    padding: 0 50px
}

@media only screen and (max-width:1469px) {
    section.life_poster .birth_data .tab-content.design .form-group.desing-btn button {
        padding: 0 28px
    }
}

section.life_poster .birth_data .poster_detail {
    padding: 20px 0
}

section.life_poster .birth_data .poster_detail h4 {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #000;
    margin-bottom: 20px
}

section.life_poster .birth_data .poster_detail table.table {
    border: none;
    margin-bottom: 5px
}

section.life_poster .birth_data .poster_detail table.table tr {
    border-bottom: 1px solid #ddd
}

section.life_poster .birth_data .poster_detail table.table tr td {
    border: none;
    padding: 10px 7px 10px 0;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000
}

section.life_poster .birth_data .poster_detail table.table tr td:last-of-type {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #000
}

section.life_poster .birth_data .poster_detail table.table .col-md-6.col-sm-6.col-12.right {
    padding-left: 5px
}

section.life_poster .birth_data .poster_detail table.table .col-md-6.col-sm-6.col-12.left {
    padding-left: 5px
}

section.life_poster .birth_data .poster_detail .delivery p {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000;
    margin-bottom: 15px
}

section.life_poster .order-img figure {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 575px
}

@media only screen and (max-width:1469px) {
    section.life_poster .order-img figure {
        height: 420px
    }
}

section.life_poster .order-img .order_content {
    margin: 50px 0 0;
    padding: 0 15%;
    text-align: center
}

@media only screen and (max-width:1469px) {
    section.life_poster .order-img .order_content {
        margin: 35px 0 0;
        padding: 0 10%
    }
}

section.life_poster .order-img .order_content h3 {
    font-size: 20px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-bottom: 10px
}

@media only screen and (max-width:1469px) {
    section.life_poster .order-img .order_content h3 {
        font-size: 14px;
        margin-bottom: 5px
    }
}

section.life_poster .order-img .order_content h4 {
    font-size: 18px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 5px
}

@media only screen and (max-width:1469px) {
    section.life_poster .order-img .order_content h4 {
        font-size: 12px
    }
}

section.life_poster .order-img .order_content p {
    font-size: 16px;
    color: #979797;
    font-family: 'Poppins', sans-serif;
    font-weight: 400
}

@media only screen and (max-width:1469px) {
    section.life_poster .order-img .order_content p {
        font-size: 12px
    }
}

section.gift_card {
    padding: 70px 0
}

@media only screen and (max-width:1469px) {
    section.gift_card {
        padding: 50px 0
    }
}

section.gift_card .create_head {
    text-align: center;
    padding: 0 8%
}

@media only screen and (max-width:1469px) {
    section.gift_card .create_head {
        padding: 0
    }
}

section.gift_card .create_head h2 {
    color: #000;
    font-size: 29px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
    position: relative
}

@media only screen and (max-width:1469px) {
    section.gift_card .create_head h2 {
        font-size: 22px;
        margin-bottom: 20px
    }
}

section.gift_card .create_head h2:after {
    position: absolute;
    content: '';
    width: 70px;
    height: 2px;
    background: #ff8686;
    bottom: -7px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

@media only screen and (max-width:1469px) {
    section.gift_card .create_head h2:after {
        width: 50px
    }
}

section.gift_card .create_head p {
    font-size: 15px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 30px
}

section.gift_card .create_head p:last-of-type {
    margin-bottom: 0
}

@media only screen and (max-width:1469px) {
    section.gift_card .create_head p {
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 20px
    }
}

section.gift_card .create_head .card_form {
    width: 350px;
    margin: 70px auto
}

@media only screen and (max-width:1469px) {
    section.gift_card .create_head .card_form {
        width: 250px;
        margin: 45px auto
    }
}

section.gift_card .create_head .card_form .form-group {
    margin-bottom: 20px
}

section.gift_card .create_head .card_form .form-group select.form-control {
    background: #fff url("../images/drop-2.png") no-repeat 97% 50%;
    width: 100%;
    height: 42px;
    border: 1px solid #dedede;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.8;
    color: #000;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0
}

@media only screen and (max-width:1469px) {
    section.gift_card .create_head .card_form .form-group select.form-control {
        height: 40px;
        font-size: 14px;
        background-size: 10px
    }
}

section.gift_card .create_head .card_form .form-group button {
    width: 100%;
    background-color: #ff8686;
    border: 4px solid #ff8686;
    color: #fff;
    border-radius: 30px;
    line-height: 2.6;
    letter-spacing: 0.5px;
    padding: 0 35px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    outline: 0;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}

@media only screen and (max-width:1469px) {
    section.gift_card .create_head .card_form .form-group button {
        font-size: 14px;
        padding: 0 30px;
        line-height: 2.4
    }
}

section.gift_card .create_head .card_form .form-group button:focus,
section.gift_card .create_head .card_form .form-group button:hover {
    background: rgba(255, 134, 134, 0.25);
    border: 4px solid #ff8686;
    color: #ff8686
}

section.gift_card .card_img {
    background: #f8f8f8;
    padding: 60px 0
}

@media only screen and (max-width:1469px) {
    section.gift_card .card_img {
        padding: 30px 0
    }
}

section.gift_card .card_img .poster_img {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px
}

section.gift_card .card_img .poster_img figure {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 820px
}

@media only screen and (max-width:1469px) {
    section.gift_card .card_img .poster_img figure {
        height: 450px;
        width: 400px;
        margin-left: auto
    }
    section.gift_card .card_img .poster_img figure:nth-of-type {
        margin-right: auto
    }
}

section.gift_card .card_img .poster_img:last-of-type {
    margin-right: 0
}

section.gift_card .card_img .poster_img:last-of-type figure {
    margin-right: auto;
    margin-left: 0
}

section.faq {
    padding: 80px 0 40px;
    background: #fafafa
}

@media only screen and (max-width:1469px) {
    section.faq {
        padding: 50px 0 20px
    }
}

section.faq .faq-cover {
    padding: 5px 10% 60px;
    margin: 0
}

@media only screen and (max-width:1469px) {
    section.faq .faq-cover {
        padding: 5px 12% 20px
    }
}

section.faq .faq-cover .panel.panel-default {
    border-color: #e8e8e8;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 20px
}

section.faq .faq-cover .panel.panel-default .panel-heading h4.panel-title {
    color: #636363;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500
}

section.faq .faq-cover .panel.panel-default .panel-heading h4.panel-title a {
    display: block;
    position: relative;
    padding: 20px 55px 20px 40px;
    color: #000;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border: 1px solid #c7c7c7;
    border-radius: 4px
}

@media only screen and (max-width:1469px) {
    section.faq .faq-cover .panel.panel-default .panel-heading h4.panel-title a {
        font-size: 16px;
        padding: 15px 55px 15px 25px
    }
}

section.faq .faq-cover .panel.panel-default .panel-heading h4.panel-title a i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
    right: 20px;
    font-size: 16px;
    text-align: center;
    line-height: 27px;
    background: #ff8686;
    border-radius: 100%;
    width: 27px;
    height: 27px
}

@media only screen and (max-width:1469px) {
    section.faq .faq-cover .panel.panel-default .panel-heading h4.panel-title a i {
        right: 20px;
        font-size: 14px;
        line-height: 24px;
        width: 24px;
        height: 24px
    }
}

section.faq .faq-cover .panel.panel-default .panel-heading h4.panel-title a i:before {
    margin-left: 1px
}

@media only screen and (max-width:1469px) {
    section.faq .faq-cover .panel.panel-default .panel-heading h4.panel-title a i:before {
        margin-left: 0
    }
}

section.faq .faq-cover .panel.panel-default .panel-heading h4.panel-title a:hover {
    color: #ff8686
}

section.faq .faq-cover .panel.panel-default .panel-heading h4.panel-title [aria-expanded=true] {
    background: #fff;
    color: #ff8686;
    border-bottom-color: #fff;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

section.faq .faq-cover .panel.panel-default .panel-heading h4.panel-title [aria-expanded=true] i:before {
    content: "\f068";
    color: #fff;
    margin-left: 1px
}

@media only screen and (max-width:1469px) {
    section.faq .faq-cover .panel.panel-default .panel-heading h4.panel-title [aria-expanded=true] i:before {
        margin-left: 0
    }
}

section.faq .faq-cover .panel.panel-default .panel-body {
    padding: 20px 40px;
    border-top: none;
    border-bottom: 1px solid #c7c7c7;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}

@media only screen and (max-width:1469px) {
    section.faq .faq-cover .panel.panel-default .panel-body {
        padding: 15px 25px
    }
}

section.faq .faq-cover .panel.panel-default .panel-body p {
    font-size: 15px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 2.1
}

@media only screen and (max-width:1469px) {
    section.faq .faq-cover .panel.panel-default .panel-body p {
        font-size: 14px;
        line-height: 1.6
    }
}

section.contact {
    padding: 70px 0 50px;
    background: #f6f6f6;
    margin-bottom: 40px
}

section.contact .contact_form h3 {
    color: #201f1f;
    font-size: 29px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 40px;
    position: relative
}

@media only screen and (max-width:1469px) {
    section.contact .contact_form h3 {
        font-size: 22px;
        margin-bottom: 30px
    }
}

section.contact .contact_form h3:after {
    position: absolute;
    content: '';
    width: 70px;
    height: 2px;
    background: #ff8686;
    bottom: -7px;
    left: 0
}

@media only screen and (max-width:1469px) {
    section.contact .contact_form h3:after {
        width: 50px
    }
}

section.contact .contact_form form {
    margin-top: 20px
}

section.contact .contact_form form .form-group {
    margin-bottom: 30px
}

@media only screen and (max-width:1469px) {
    section.contact .contact_form form .form-group {
        margin-bottom: 15px
    }
}

section.contact .contact_form form .form-group label {
    color: #010000;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 10px
}

@media only screen and (max-width:1469px) {
    section.contact .contact_form form .form-group label {
        font-size: 15px;
        margin-bottom: 5px
    }
}

section.contact .contact_form form .form-group input[type=text] {
    background: #fff;
    width: 100%;
    height: 46px;
    color: #000;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.18);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.18)
}

@media only screen and (max-width:1469px) {
    section.contact .contact_form form .form-group input[type=text] {
        height: 42px;
        font-size: 15px
    }
}

section.contact .contact_form form .form-group textarea.form-control {
    background: #fff;
    color: #000;
    width: 100%;
    border: 1px solid #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    resize: none;
    outline: 0;
    padding: 10px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.18);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.18)
}

@media only screen and (max-width:1469px) {
    section.contact .contact_form form .form-group textarea.form-control {
        font-size: 15px
    }
}

section.contact .contact_form form .form-group button.form_btn {
    background: #ff8686;
    border: 4px solid #ff8686;
    width: 145px;
    height: 47px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 30px;
    font-size: 20px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -ms-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s
}

@media only screen and (max-width:1469px) {
    section.contact .contact_form form .form-group button.form_btn {
        height: 42px;
        font-size: 18px;
        margin-top: 15px
    }
}

section.contact .contact_form form .form-group button.form_btn:focus,
section.contact .contact_form form .form-group button.form_btn:hover {
    background: rgba(255, 134, 134, 0.25);
    border: 4px solid #ff8686;
    color: #ff8686
}

section.contact .address_contact {
    padding-left: 30px
}

@media only screen and (max-width:1469px) {
    section.contact .address_contact {
        padding-left: 15px
    }
}

section.contact .address_contact h3 {
    color: #201f1f;
    font-size: 29px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 40px;
    position: relative
}

@media only screen and (max-width:1469px) {
    section.contact .address_contact h3 {
        font-size: 22px;
        margin-bottom: 30px
    }
}

section.contact .address_contact h3:after {
    position: absolute;
    content: '';
    width: 70px;
    height: 2px;
    background: #ff8686;
    bottom: -7px;
    left: 0
}

@media only screen and (max-width:1469px) {
    section.contact .address_contact h3:after {
        width: 50px
    }
}

section.contact .address_contact ul {
    padding: 0;
    list-style: none;
    margin: 0 0 45px
}

@media only screen and (max-width:1469px) {
    section.contact .address_contact ul {
        margin: 0 0 30px
    }
}

section.contact .address_contact ul li {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px
}

@media only screen and (max-width:1469px) {
    section.contact .address_contact ul li {
        font-size: 15px;
        margin-bottom: 10px
    }
}

section.contact .address_contact ul li i {
    color: #ff8686;
    font-size: 22px;
    margin-right: 10px;
    width: 25px;
    text-align: center
}

@media only screen and (max-width:1469px) {
    section.contact .address_contact ul li i {
        font-size: 20px;
        margin-right: 7px;
        width: 20px
    }
}

section.contact .address_contact ul li a {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    font-family: 'Poppins', sans-serif
}

@media only screen and (max-width:1469px) {
    section.contact .address_contact ul li a {
        font-size: 15px
    }
}

section.contact .address_contact ul li a:focus,
section.contact .address_contact ul li a:hover {
    color: #ff8686
}

section.contact .address_contact .map {
    width: 100%;
    height: 375px
}

@media only screen and (max-width:1469px) {
    section.contact .address_contact .map {
        height: 300px
    }
}

section.contact .address_contact .map iframe {
    width: 100%;
    height: 100%
}

section.cart_section {
    background: #f2f2f2;
    padding: 60px 0;
    position: relative
}

@media only screen and (max-width:1469px) {
    section.cart_section {
        padding: 40px 0
    }
}

section.cart_section h2 {
    color: #201f1f;
    font-size: 29px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 60px;
    text-align: center;
    position: relative
}

@media only screen and (max-width:1469px) {
    section.cart_section h2 {
        font-size: 26px;
        margin-bottom: 45px
    }
}

section.cart_section h2:after {
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    background: #ff8686;
    bottom: -4px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

section.cart_section .cart_area {
    padding: 0;
    margin: 0;
    text-align: center
}

section.cart_section .cart_area .cart_img {
    margin-bottom: 50px
}

@media only screen and (max-width:1469px) {
    section.cart_section .cart_area .cart_img {
        margin-bottom: 35px
    }
}

section.cart_section .cart_area .cart_img figure {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 935px
}

@media only screen and (max-width:1469px) {
    section.cart_section .cart_area .cart_img figure {
        height: 530px;
        width: 400px;
        margin-left: auto
    }
}

section.cart_section .cart_area .cart_img.align-mg figure {
    margin-left: 0!important;
    margin-right: auto;
    border: 30px solid #fff
}

section.cart_section .cart_area .mg-right {
    margin-left: 25%
}

section.cart_section .cart_area .mg-left {
    margin-right: 25%
}

section.cart_section .cart_area h3 {
    font-size: 26px;
    color: #000;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px
}

@media only screen and (max-width:1469px) {
    section.cart_section .cart_area h3 {
        font-size: 18px;
        margin-bottom: 10px
    }
}

section.cart_section .cart_area h4 {
    font-size: 18px;
    color: #000;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 4px
}

@media only screen and (max-width:1469px) {
    section.cart_section .cart_area h4 {
        font-size: 15px;
        margin-bottom: 4px
    }
}

section.cart_section .cart_area p {
    font-size: 15px;
    color: #000;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 40px
}

@media only screen and (max-width:1469px) {
    section.cart_section .cart_area p {
        font-size: 12px;
        margin-bottom: 20px
    }
}

section.cart_section .cart_area a {
    width: 250px;
    background-color: #ff8686;
    border: 4px solid #ff8686;
    color: #fff;
    border-radius: 30px;
    line-height: 2.2;
    letter-spacing: 0.5px;
    padding: 0 35px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}

section.cart_section .cart_area a:hover {
    background: rgba(255, 134, 134, 0.25);
    border: 4px solid #ff8686;
    color: #ff8686
}

@media only screen and (max-width:1469px) {
    section.cart_section .cart_area a {
        font-size: 18px;
        padding: 0 35px;
        line-height: 2
    }
}

section.cart_section .cart_area .cart_edit a {
    margin-right: 20px;
    padding: 0 35px;
    display: inline-block;
    vertical-align: middle;
    width: 170px;
    text-transform: uppercase;
    line-height: 2.2
}

@media only screen and (max-width:1469px) {
    section.cart_section .cart_area .cart_edit a {
        font-size: 18px;
        padding: 0 35px;
        line-height: 2;
        width: 150px
    }
}

section.cart_section .cart_area a~a {
    margin-right: 0
}

section.cart_section:after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: 0;
    width: 0;
    z-index: 1;
    border-top: 2rem solid #f2f2f2;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    bottom: -1.5rem;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

section.summery {
    padding: 70px 0;
    background: #f9f9f9
}

section.summery h2 {
    color: #201f1f;
    font-size: 29px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 60px;
    text-align: center;
    position: relative
}

@media only screen and (max-width:1469px) {
    section.summery h2 {
        font-size: 26px;
        margin-bottom: 30px
    }
}

section.summery h2:after {
    position: absolute;
    content: '';
    width: 80px;
    height: 3px;
    background: #ff8686;
    bottom: -7px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

@media only screen and (max-width:1469px) {
    section.summery h2:after {
        width: 50px
    }
}

section.summery .summery_cart {
    width: 580px;
    margin: 0 auto 50px
}

@media only screen and (max-width:1469px) {
    section.summery .summery_cart {
        width: 450px
    }
}

section.summery .summery_cart table.table tr:last-of-type {
    border-top: 1px solid #e5e5e5
}

section.summery .summery_cart table.table tr td {
    border: none;
    font-size: 22px;
    color: #000;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    padding: 12px 0
}

@media only screen and (max-width:1469px) {
    section.summery .summery_cart table.table tr td {
        font-size: 16px;
        padding: 5px 0
    }
}

section.summery .summery_cart table.table tr td:last-of-type {
    font-size: 20px;
    text-align: right;
    font-weight: 300
}

@media only screen and (max-width:1469px) {
    section.summery .summery_cart table.table tr td:last-of-type {
        font-size: 14px
    }
}

section.summery .disccount {
    margin: 15px 0
}

section.summery .disccount a {
    font-size: 18px;
    color: #000;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    border-bottom: 1px solid #a2a2a2;
    margin-bottom: 15px;
    display: inline-block
}

@media only screen and (max-width:1469px) {
    section.summery .disccount a {
        font-size: 14px;
        margin-bottom: 5px
    }
}

section.summery .disccount a:hover {
    color: #ff8686;
    border-bottom: 1px solid #ff8686
}

section.summery .disccount .fill_code .form-group {
    margin: 10px 0 25px
}

section.summery .disccount .fill_code .form-group input.form-control {
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    width: 290px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 10px
}

section.summery .disccount .fill_code .form-group textarea.form-control {
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    resize: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 10px;
    margin-bottom: 35px
}

section.summery .disccount .fill_code .form-group button.submit_ok {
    width: 90px;
    margin-left: 35px;
    background-color: #ff8686;
    border: 4px solid #ff8686;
    color: #fff;
    border-radius: 30px;
    line-height: 2;
    letter-spacing: 0.5px;
    padding: 0 20px;
    text-align: center;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    outline: 0;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}

section.summery .disccount .fill_code .form-group button.submit_ok:hover {
    background: rgba(255, 134, 134, 0.25);
    border: 4px solid #ff8686;
    color: #ff8686
}

section.summery .payment {
    text-align: center;
    margin-top: 30px
}

section.summery .payment small {
    font-size: 22px;
    color: #000;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    margin: 20px 0;
    text-transform: capitalize;
    border-bottom: 1px solid #000;
    font-style: italic
}

@media only screen and (max-width:1469px) {
    section.summery .payment small {
        font-size: 18px;
        margin: 12px 0
    }
}

section.summery .payment button {
    width: 400px;
    background-color: #ebeaea;
    border: 4px solid #ebeaea;
    color: #000;
    border-radius: 30px;
    line-height: 2.6;
    letter-spacing: 0.5px;
    padding: 0 35px;
    display: block;
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    outline: 0;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}

@media only screen and (max-width:1469px) {
    section.summery .payment button {
        width: 340px;
        line-height: 2.3;
        font-size: 16px
    }
}

section.summery .payment button:hover {
    background-color: #ff8686;
    border: 4px solid #ff8686;
    color: #fff
}

.modal_area .modal-header {
    border: none;
    padding: 0
}

.modal_area .modal-header a.close {
    position: absolute;
    right: 0;
    top: -4px;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    padding: 0;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    text-align: center
}

.modal_area .modal-header a.close:focus,
.modal_area .modal-header a.close:hover {
    -webkit-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg)
}

.modal_area .login_head {
    padding: 20px
}

.modal_area .login_head .nav-tabs {
    border: none;
    padding: 0 12px
}

.modal_area .login_head .nav-tabs li {
    color: #939393;
    font-size: 18px;
    font-weight: 500;
    border: none;
    font-family: 'Poppins', sans-serif
}

.modal_area .login_head .nav-tabs li:nth-of-type(2) {
    padding: 0 30px
}

.modal_area .login_head .nav-tabs li a {
    color: #939393;
    font-size: 18px;
    padding: 0 0 5px;
    border: none;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase
}

.modal_area .login_head .nav-tabs li a .nav-link {
    border: none;
    color: #000;
    font-size: 18px;
    padding: 0
}

.modal_area .login_head .nav-tabs li a.active {
    border-bottom: 2px solid #ff8587;
    color: #000
}

.modal_area .login_head .nav-tabs li a:hover {
    color: #000;
    border-bottom: 2px solid #ff8587
}

.modal_area .login_head .tab_head {
    padding-top: 25px
}

.modal_area .login_head .tab_head .form-group {
    margin-bottom: 15px
}

.modal_area .login_head .tab_head .form-group label {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px
}

.modal_area .login_head .tab_head .form-group input.form-control {
    border-bottom: 1px solid #c7c7c7;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    padding: 5px 0;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0
}

.modal_area .login_head .tab_head .form-group .fb_btn {
    margin-bottom: 15px;
    margin-top: 12px
}

.modal_area .login_head .tab_head .form-group .fb_btn a {
    width: 100%;
    background: #3b5999;
    padding: 12px 20px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 30px;
    text-align: center
}

@media only screen and (max-width:1469px) {
    .modal_area .login_head .tab_head .form-group .fb_btn a {
        font-size: 16px;
        padding: 9px 20px
    }
}

.modal_area .login_head .tab_head .form-group .fb_btn a i {
    font-size: 18px;
    margin-right: 10px;
    font-weight: 400
}

@media only screen and (max-width:1469px) {
    .modal_area .login_head .tab_head .form-group .fb_btn a i {
        font-size: 16px
    }
}

.modal_area .login_head .tab_head .form-group .fb_btn a:hover {
    background: #203b75
}

.modal_area .login_head .tab_head .form-group .gmail_btn a {
    width: 100%;
    background: #ea4335;
    padding: 12px 20px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 30px;
    text-align: center
}

@media only screen and (max-width:1469px) {
    .modal_area .login_head .tab_head .form-group .gmail_btn a {
        font-size: 16px;
        padding: 9px 20px
    }
}

.modal_area .login_head .tab_head .form-group .gmail_btn a i {
    font-size: 18px;
    margin-right: 10px;
    font-weight: 400
}

@media only screen and (max-width:1469px) {
    .modal_area .login_head .tab_head .form-group .gmail_btn a i {
        font-size: 16px
    }
}

.modal_area .login_head .tab_head .form-group .gmail_btn a:hover {
    background: #bd2417
}

.modal_area .login_head .tab_head .forget {
    text-align: right;
    margin-bottom: 5px
}

.modal_area .login_head .tab_head .forget a {
    font-size: 14px;
    color: #a1a1a1;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid #a1a1a1
}

.modal_area .login_head .tab_head .forget a:focus,
.modal_area .login_head .tab_head .forget a:hover {
    color: #000;
    border-color: #000
}

.modal_area .login_head .tab_head .login button.login_btn {
    color: #fff;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    cursor: pointer;
    background: #ff8686;
    border: 4px solid #ff8686;
    letter-spacing: 1px;
    outline: 0;
    border-radius: 25px;
    line-height: 1.9;
    padding: 0 25px;
    display: inline-block;
    width: 140px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out
}

.modal_area .login_head .tab_head .login button.login_btn:hover {
    background: rgba(255, 134, 134, 0.15);
    border: 4px solid rgba(255, 134, 134, 0.51);
    color: #ff8686
}

.modal_area .login_head .tab_head .sign {
    padding-top: 20px
}

.modal_area .login_head .tab_head .or {
    text-align: center;
    position: relative;
    margin: 12px 0
}

@media only screen and (max-width:1469px) {
    .modal_area .login_head .tab_head .or {
        margin: 5px 0
    }
}

.modal_area .login_head .tab_head .or span small {
    color: #a1a1a1;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background: #fff;
    width: 40px;
    position: relative;
    z-index: 9;
    margin: 0 auto;
    display: inline-block
}

.modal_area .login_head .tab_head .or span:after {
    content: '';
    background: #a1a1a1;
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    top: 14px;
    left: 0;
    right: 0
}

.Payment_section {
    background: #f2f2f2;
    padding: 65px 0;
    margin-bottom: 50px
}

@media only screen and (max-width:1469px) {
    .Payment_section {
        padding: 50px 0
    }
}

.Payment_section h2 {
    color: #201f1f;
    font-size: 29px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 60px;
    text-align: center;
    position: relative
}

@media only screen and (max-width:1469px) {
    .Payment_section h2 {
        font-size: 26px;
        margin-bottom: 45px
    }
}

.Payment_section h2:after {
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    background: #ff8686;
    bottom: -4px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.Payment_section .payment_paypal {
    padding: 0;
    width: 700px;
    margin: 0 auto
}

.Payment_section .payment_paypal ul.nav.nav-tabs {
    border: none
}

.Payment_section .payment_paypal ul.nav.nav-tabs li.nav-item a.nav-link {
    border-color: transparent;
    border-radius: 0;
    background: #e9e5dc;
    width: 350px;
    height: 65px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center
}

.Payment_section .payment_paypal ul.nav.nav-tabs li.nav-item a.nav-link.active {
    background: #fff
}

.Payment_section .payment_paypal ul.nav.nav-tabs li.nav-item a.nav-link:hover {
    background: #fff
}

.Payment_section .payment_paypal .tab-content {
    background: #fff;
    width: 700px;
    padding: 40px 15px
}

.Payment_section .payment_paypal .tab-content .tab-pane h3 {
    color: #000;
    font-size: 22px;
    margin-bottom: 50px;
    border: none;
    font-weight: 500;
    text-align: center;
    font-family: 'Poppins', sans-serif
}

@media only screen and (max-width:1469px) {
    .Payment_section .payment_paypal .tab-content .tab-pane h3 {
        margin-bottom: 22px
    }
}

.Payment_section .payment_paypal .tab-content .tab-pane form .form-group {
    margin-bottom: 15px
}

.Payment_section .payment_paypal .tab-content .tab-pane form .form-group label {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px
}

.Payment_section .payment_paypal .tab-content .tab-pane form .form-group input.form-control {
    border: 1px solid #cacaca;
    border-radius: 4px;
    color: #000;
    font-size: 14px;
    height: 45px;
    padding: 0 10px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0
}

.Payment_section .payment_paypal .tab-content .tab-pane form .form-group select.form-control {
    background: #fff url("../images/payment-drop.png") no-repeat 96% 50%;
    border: 1px solid #cacaca;
    border-radius: 4px;
    color: #979797;
    font-size: 16px;
    height: 45px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0
}

.Payment_section .payment_paypal .tab-content .tab-pane form .form-group strong {
    color: #000;
    font-size: 22px;
    margin: 15px 0 8px;
    font-weight: 500;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    display: block
}

.Payment_section .payment_paypal .tab-content .tab-pane form .form-group p {
    color: #000;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 400;
    text-align: center;
    font-family: 'Poppins', sans-serif
}

.Payment_section .payment_paypal .tab-content .tab-pane form .form-group.pay {
    margin: 15px 0;
    text-align: center
}

.Payment_section .payment_paypal .tab-content .tab-pane form .form-group.pay button.login_btn {
    background: #ff8686;
    border: 4px solid #ff8686;
    width: 313px;
    line-height: 2.2;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 30px;
    font-size: 20px;
    padding: 0 20px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -ms-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s
}

@media only screen and (max-width:1469px) {
    .Payment_section .payment_paypal .tab-content .tab-pane form .form-group.pay button.login_btn {
        line-height: 2;
        font-size: 18px;
        width: 300px
    }
}

.Payment_section .payment_paypal .tab-content .tab-pane form .form-group.pay button.login_btn:hover {
    background: rgba(255, 134, 134, 0.25);
    border: 4px solid #ff8686;
    color: #ff8686
}

.Payment_section .payment_paypal .tab-content .tab-pane form .form-group.trust {
    margin-top: 25px;
    text-align: center;
    margin-bottom: 0
}

.Payment_section .payment_paypal .tab-content .tab-pane form .form-group.trust a {
    text-align: center
}

.checkout-card {
    padding: 35px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center
}

.checkout-card .credit-card-box {
    -webkit-perspective: 1000;
    perspective: 1000;
    width: 305px;
    height: 182px
}

.checkout-card .credit-card-box.hover .flip,
.checkout-card .credit-card-box:hover .flip {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.checkout-card .credit-card-box .back,
.checkout-card .credit-card-box .front {
    width: 305px;
    height: 182px;
    border-radius: 15px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: -webkit-linear-gradient(315deg, #bd6772, #53223f);
    background: -o-linear-gradient(315deg, #bd6772, #53223f);
    background: linear-gradient(135deg, #bd6772, #53223f);
    position: absolute;
    color: #fff;
    font-family: Inconsolata;
    top: 0;
    left: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3)
}

.checkout-card .credit-card-box .back:before,
.checkout-card .credit-card-box .front:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("http://cdn.flaticon.com/svg/44/44386.svg") no-repeat center;
    background-size: cover;
    opacity: 0.05
}

.checkout-card .credit-card-box .flip {
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative
}

.checkout-card .credit-card-box .logo {
    position: absolute;
    top: 9px;
    right: 20px;
    width: 60px
}

.checkout-card .credit-card-box .logo svg {
    width: 100%;
    height: auto;
    fill: #fff
}

.checkout-card .credit-card-box .front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.checkout-card .credit-card-box .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.checkout-card .credit-card-box .back .logo {
    top: 130px
}

.checkout-card .credit-card-box .chip {
    position: absolute;
    width: 60px;
    height: 45px;
    top: 20px;
    left: 20px;
    background: -webkit-linear-gradient(315deg, #ddccf0 0%, #d1e9f5 44%, #f8ece7 100%);
    background: -o-linear-gradient(315deg, #ddccf0 0%, #d1e9f5 44%, #f8ece7 100%);
    background: linear-gradient(135deg, #ddccf0 0%, #d1e9f5 44%, #f8ece7 100%);
    border-radius: 8px
}

.checkout-card .credit-card-box .chip:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 4px solid rgba(128, 128, 128, 0.1);
    width: 80%;
    height: 70%;
    border-radius: 5px
}

.checkout-card .credit-card-box .strip {
    background: -webkit-linear-gradient(315deg, #404040, #1a1a1a);
    background: -o-linear-gradient(315deg, #404040, #1a1a1a);
    background: linear-gradient(135deg, #404040, #1a1a1a);
    position: absolute;
    width: 100%;
    height: 50px;
    top: 20px;
    left: 0
}

.checkout-card .credit-card-box .number {
    position: absolute;
    margin: 0 auto;
    top: 70px;
    left: 18px;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 400
}

.checkout-card .credit-card-box label {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    text-shadow: none;
    text-transform: uppercase;
    opacity: 0.5;
    display: block;
    margin-bottom: 3px
}

.checkout-card .credit-card-box .card-expiration-date,
.checkout-card .credit-card-box .card-holder {
    position: absolute;
    margin: 0 auto;
    top: 125px;
    left: 19px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    width: 170px;
    overflow: hidden;
    height: 50px
}

.checkout-card .credit-card-box .card-expiration-date {
    text-align: right;
    left: auto;
    right: 20px
}

.checkout-card .credit-card-box .ccv {
    height: 36px;
    background: #fff;
    width: 91%;
    border-radius: 5px;
    top: 100px;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;
    color: #000;
    text-align: right;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.1;
    font-weight: 400
}

.checkout-card .credit-card-box .ccv label {
    margin: -25px 0 14px;
    color: #fff
}

.checkout-card .card_detail {
    width: 310px
}

.checkout-card .card_detail input.input-cart-number {
    width: 71px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    text-align: center;
    border: 1px solid #cacaca;
    height: 42px;
    border-radius: 5px;
    font-size: 14px;
    padding: 0 5px
}

.checkout-card .card_detail input.input-cart-number:last-of-type {
    margin-right: 0
}

.checkout-card .card_detail input#card-holder {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 20px 0;
    text-align: left;
    border: 1px solid #cacaca;
    height: 42px;
    border-radius: 5px;
    font-size: 14px;
    padding: 0 5px
}

.checkout-card .card_detail fieldset.fieldset-expiration {
    width: 160px;
    display: inline-block;
    vertical-align: middle
}

.checkout-card .card_detail fieldset.fieldset-expiration .select {
    width: 70px;
    display: inline-block;
    vertical-align: middle
}

.checkout-card .card_detail fieldset.fieldset-expiration .select select {
    background: #fff url("../images/payment-drop.png") no-repeat 90% 50%;
    background-size: 12px;
    width: 70px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #cacaca;
    height: 42px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #cacaca;
    border-radius: 5px;
    font-size: 14px;
    padding: 0 5px
}

.checkout-card .card_detail fieldset.fieldset-ccv {
    width: 70px;
    display: inline-block;
    vertical-align: middle;
    float: right
}

.checkout-card .card_detail fieldset.fieldset-ccv input {
    width: 71px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #cacaca;
    height: 42px;
    border-radius: 5px;
    font-size: 14px;
    padding: 0 5px
}

#forget-password .modal-header {
    border: none;
    padding: 0
}

#forget-password .modal-header a.close {
    position: absolute;
    right: 0;
    top: -4px;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    padding: 0;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    text-align: center
}

#forget-password .modal-header a.close:focus,
#forget-password .modal-header a.close:hover {
    -webkit-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg)
}

#forget-password .tab_head {
    padding: 20px 60px
}

#forget-password .tab_head h3 {
    font-size: 18px;
    padding: 15px 0;
    color: #000;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: center
}

#forget-password .tab_head form .form-group {
    margin-bottom: 15px
}

#forget-password .tab_head form .form-group label {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px
}

#forget-password .tab_head form .form-group input.form-control {
    border-bottom: 1px solid #c7c7c7;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    padding: 5px 0;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0
}

#forget-password .tab_head form .form-group button.login_btn {
    color: #fff;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    cursor: pointer;
    margin-top: 20px;
    background: #ff8686;
    border: 4px solid #ff8686;
    letter-spacing: 1px;
    outline: 0;
    border-radius: 25px;
    line-height: 1.9;
    padding: 0 25px;
    display: inline-block;
    width: 140px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out
}

#forget-password .tab_head form .form-group button.login_btn:hover {
    background: rgba(255, 134, 134, 0.15);
    border: 4px solid rgba(255, 134, 134, 0.51);
    color: #ff8686
}


/*  Demo-here */

.img_wrapper {
    background: #fff;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.12);
    padding: 40px;
    margin-bottom: 40px;
}

.img_wrapper figure {
    position: relative;
}

.img_wrapper .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.90);
    overflow: hidden;
    width: 100%;
    height: 0;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.img_wrapper .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.img_wrapper .text h4 {
    font-size: 22px;
    color: #282828;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin-bottom: 30px;
    padding-bottom: 12px;
    position: relative;
}

.img_wrapper h4:after {
    position: absolute;
    content: '';
    width: 70px;
    height: 2px;
    background: #ff8686;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.img_wrapper a {
    color: #fff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #ff8686;
    border: 4px solid #ff8686;
    border-radius: 25px;
    line-height: 2;
    padding: 0 25px;
    display: inline-block;
}

.img_wrapper a:focus,
.img_wrapper a:hover {
    background: rgba(255, 134, 134, 0.15);
    border: 4px solid rgba(255, 134, 134, 0.51);
    color: #ff8686;
}

.img_wrapper :hover .overlay {
    bottom: 0;
    height: 100%;
}


/* .fram.vertical {
    height: 380px;
} */