@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
/*font-family: 'Open Sans', sans-serif;*/

@font-face {
  font-family: 'AlternateGothicNo2BT-Regular';
  src: url('../fonts/myfonts/alternategothicno2bt-regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/myfonts/alternategothicno2bt-regular.otf')  format('opentype'),
	     url('../fonts/myfonts/alternategothicno2bt-regular.woff') format('woff'), url('../fonts/myfonts/alternategothicno2bt-regular.ttf')  format('truetype'), url('../fonts/myfonts/alternategothicno2bt-regular.svg#alternategothicno2bt-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*font-family: 'AlternateGothicNo2BT-Regular' !important;*/

$font-family: 'Open Sans', sans-serif;
$font-color: #fff;
$bodyFontSize:16px;
$bodyWeight:400;

$font:'Open Sans', sans-serif;
$fontColor:#202020;
$lighFont:300;
$mediumFont:400;
$regulerFont:500;
$semiboldFont:600;
$boldFont:700;
$red: #f16847;
$navBack: #202020;
$whiteColor: #fff;
$blackColor: #000;
$hoverBgColor: #fff;
